---
version: '3.4'
services:
  qdrant:
    image: qdrant/qdrant:v0.6.0
    ports:
      - "6333:6333"
    ulimits: # Only required for tests, as there are a lot of collections created
      nofile:
        soft: 65535
        hard: 65535
...